/* TESTING */
.testing-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 5px 10px;
  z-index: 1000;
  box-shadow: #808080 1px 1px 1px;
}


/* WRAPPER CLASSES */

[class$="--silver-bg"],
[class*="--silver-bg "] {
  background-color: $silver;
}

[class$="--text-center"],
[class*="--text-center "] {
  text-align: center;
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

[class$="--padded-tb-2g"],
[class*="--padded-tb-2g "] {
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
}

html {background-color: $white;}


.product-pages {
  h2 {
    font-size: $font-size*1.75;
    line-height: 1.35em;
  }
  p {
    line-height: 1.5em;
  }

  .btn {
    font-size: $font-size * 1.125;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 13px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 13px;
    letter-spacing: .64px;
    line-height: $font-size*2;
    &.btn-link.btn-alt {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      color: $cru-gold;
      .fa {font-weight: 700;}
    }
  }

  .navbar-default.navbar-internal.fixed {
    position: fixed;
    width: 100%;
    top: 0;
  }

}









.spotlight {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  color: $white;
  a {
    color: $white;
  }
  img, h1, h2, p, .btn {
    margin-bottom: $gutter;
  }
  .row > * {
    > :first-child {margin-top: 0;}
    > :last-child {margin-bottom: 0;}
  }
  h2 {
    font-size: $font-size*2.25;
    font-weight: bold;
  }
  h3 {
    font-size: $font-size*1.75;
    line-height: 1.2;
  }
  &.hero {
    h1 {
      font-size: $font-size*2.25;
      font-weight: bold;
    }
    h2 {
      line-height: 1.2;
    }
  }
  &--no-photo {
    background-color: $silver2;
    padding-top: $gutter*2.5;
    padding-bottom: $gutter*2.5;
    h1 {font-weight: 900;}
    h1, h2 {color: $gray;}
  }
  &--overlay {
    padding-top: 0;
    padding-bottom: 0;
    > div {
      padding-top: $gutter*2;
      padding-bottom: $gutter*2;
    }
    img {height: 60px;}
    h2 {
      font-size: $font-size*2.25;
      font-weight: bold;
      letter-spacing: 1.29px;
      line-height: 1;
    }
    .date {letter-spacing: .57px;}
  }
  &--title {
    background: $gray;
    text-align: center;
  }
}

.text-img {
  padding-top: $gutter*2;
  p {color: $gray;}
  h2 + p {margin-top: 28px}
  p + .btn-primary {margin-top: 26px;}
}




.section-icons {
  img {
    height: 60px;
    display: block;
    margin-bottom: 23px;
  }
  h2 {
    min-height: 60px;
    line-height: 30px;
    color: $gray;
  }
}

.section-testimonials {
  background-color: $cru-gold;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  color: $white;
  p {
    line-height: 1.75em;
    font-size: $font-size*1.15;
    &:last-of-type {margin-bottom: 0;}
  }
}

.section-boxed-content {
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  .section-boxed-content__top, .section-boxed-content__bottom {
    padding-top: $gutter;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
    padding-bottom: $gutter;
  }
  .section-boxed-content__top {
    background-color: $silver;
    height: 140px;
    position: relative;
    @media screen and (max-width: 991px) {
      height: auto;
      h3 {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
      }
    }
  }
  h3 {
    font-size: $font-size*1.25;
    letter-spacing: .71px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
  }
  .section-boxed-content__bottom {
    border: $silver 1px solid;
    *:last-child {margin-bottom: 0;}
    @media screen and (min-width: 1200px) {
      height: 206px;
    }
    @media screen and (max-width: 991px) {
      height: auto;
    }
  }
}

.section-breakdown {
  h2 {letter-spacing: .9px;}
  h3 {
    margin-top: 0;
    font-size: $font-size*1.25;
  }
  img {
    display: inline-block;
    margin-bottom: 7px;
    height: 60px;
  }
  p {color: $gray;}
  > .container > .row {
    border-top: $cru-gold 1px solid;
    padding-top: 80px;
    &:first-child {border-top: none;}
  }
}

.product-features, .product-blog {
  .navbar-default.navbar-internal {
    background-color: $silver;
    border-top: none;
    box-shadow: none;
    min-height: 0;
    a {
      color: $gray;
      text-transform: uppercase;
      font-weight: 700;
      font-size: $font-size*0.9;
      line-height: $font-size*3.125;
      &:hover, &.active {color: $cru-gold;}
    }
    .navbar-nav {text-align: center;}
  }
  @media (min-width: 550px) {
    .navbar-nav {
      float: none;
      > li {
        float: none;
      }
    }
  }
}

.product-features {
  @media screen and (min-width: 56em) {
    .navbar {margin-bottom: 0;}
  }
}

.product-blog {
  text-align: center;
  .btn {
    font-size: $font-size*0.9375;
    padding-left: 50px;
    padding-right: 50px;
  }
  .posts > div {
    margin-bottom: 70px;
    @media screen and (max-width: 991px) {margin-bottom: 46px;}
  }
  .post-thumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    span {
      display: block;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    img {
      display: inline-block;
      height: 60px;
    }
  }
  .post-content {
    border-color: $silver;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 30px 15px;
    text-align: center;
    color: $gray;
    height: 230px;
    @media screen and (max-width: 1199px) {height: 271px;}
    @media screen and (max-width: 991px) {height: auto;}
    p {
      line-height: 1.25em;
      margin-bottom: 18px;
      letter-spacing: .57px;
      &:last-child {margin-bottom: 0;}
    }
    h2 {
      font-size: $font-size*1.125;
      line-height: $font-size*1.3125;
      letter-spacing: .64px;
      margin-bottom: 29px;
      font-weight: 500;
      a {color: $gray;}
    }
  }
}

.section {
  &-body {
    h5 {
      text-transform: uppercase;
      border-bottom: 1px solid lighten($gray, 50%);
      text-align: center;
      font-size: 1.5em;
      padding-bottom: .75em;
      margin-top: 1em;
    }
  }

  &-reverse {
    background: $gray-dark;
    color: $white;
  }
}

.round-edges {
  border-radius: $border-radius;
}