$white:             #ffffff;
$black:             #000000;
$silver:            #f0f0f0;
$silver2:           #e7e7e7;
$cru-gold:          #f9b625;
$gray:              #626262;

$mpdx1:             #f9b625;
$mpdx2:             #3eb1c8;
$mpdx3:             #007398;

$font-size:         16px;
$font-family:       'source sans';
$gutter:            30px;