.bx-wrapper {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-bottom: 40px; }

.quote-wrapper {
  border: none;
  box-shadow: none;
  padding: 60px; }
  .quote-wrapper:before {
    border: 1px solid #fff;
    border-width: 2px 0 0 2px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 150px;
    height: 50px; }
  .quote-wrapper:after {
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: "";
    width: 150px;
    height: 50px; }

/* TESTING */
.testing-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 5px 10px;
  z-index: 1000;
  box-shadow: #808080 1px 1px 1px; }

html {
  background-color: #ffffff; }

.product-pages {
  /* section {background-color: $white;} */ }
  .product-pages h2 {
    font-size: 28px;
    line-height: 1.35em; }
  .product-pages p {
    line-height: 1.5em; }
  .product-pages .btn {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 13px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 13px;
    letter-spacing: .64px;
    line-height: 32px; }
    .product-pages .btn.btn-link.btn-alt {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      color: #f9b625; }
      .product-pages .btn.btn-link.btn-alt .fa {
        font-weight: 700; }
  .product-pages .try-free {
    padding-top: 65px;
    padding-bottom: 73px; }
  .product-pages .navbar-default.navbar-internal.fixed {
    position: fixed;
    width: 100%;
    top: 0; }

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff; }
  .hero img, .hero h1, .hero h2, .hero p, .hero .btn {
    margin-bottom: 30px; }
  .hero .row > * > :first-child {
    margin-top: 0; }
  .hero .row > * > :last-child {
    margin-bottom: 0; }
  .hero h1 {
    font-size: 36px;
    font-weight: bold; }
  .hero h2 {
    line-height: 1.2; }
  .hero--text-center {
    text-align: center; }
    .hero--text-center img {
      margin-left: auto;
      margin-right: auto; }
  .hero--no-photo {
    background-color: #e7e7e7;
    padding-top: 75px;
    padding-bottom: 75px; }
    .hero--no-photo h1 {
      font-weight: 900; }
    .hero--no-photo h1, .hero--no-photo h2 {
      color: #626262; }
  .hero--overlay {
    padding-top: 0;
    padding-bottom: 0; }
    .hero--overlay > div {
      padding-top: 60px;
      padding-bottom: 60px; }
    .hero--overlay img {
      height: 60px; }
    .hero--overlay h2 {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 1.29px;
      line-height: 1; }
    .hero--overlay .date {
      letter-spacing: .57px; }
  .hero--title {
    background: #626262;
    text-align: center; }

.text-img {
  padding-top: 60px; }
  .text-img p {
    color: #626262; }
  .text-img--silver-bg {
    background-color: #f0f0f0; }
  .text-img h2 + p {
    margin-top: 28px; }
  .text-img p + .btn-primary {
    margin-top: 26px; }

.product-homepage .sec8 {
  background-color: #f0f0f0; }

.product-homepage .sec2, .product-homepage .sec9 {
  padding-top: 72px;
  padding-bottom: 72px; }
  .product-homepage .sec2 img, .product-homepage .sec9 img {
    height: 60px;
    display: inline-block;
    margin-bottom: 23px; }
  .product-homepage .sec2 h2, .product-homepage .sec9 h2 {
    height: 60px;
    color: #626262; }

.product-homepage .testimonials {
  background-color: #f9b625;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff; }
  .product-homepage .testimonials p {
    line-height: 1.75em;
    font-size: 18.4px; }
    .product-homepage .testimonials p:last-of-type {
      margin-bottom: 0; }

.product-homepage .sec7 {
  padding-top: 60px;
  padding-bottom: 60px; }
  .product-homepage .sec7 .question, .product-homepage .sec7 .answer {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px; }
  .product-homepage .sec7 .question {
    background-color: #f0f0f0;
    height: 140px;
    position: relative; }
    @media screen and (max-width: 991px) {
      .product-homepage .sec7 .question {
        height: auto; }
        .product-homepage .sec7 .question h3 {
          position: relative;
          top: auto;
          left: auto;
          transform: none; } }
  .product-homepage .sec7 h3 {
    font-size: 20px;
    letter-spacing: .71px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0; }
  .product-homepage .sec7 .answer {
    border: #f0f0f0 1px solid; }
    .product-homepage .sec7 .answer *:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 1200px) {
      .product-homepage .sec7 .answer {
        height: 206px; } }
    @media screen and (max-width: 991px) {
      .product-homepage .sec7 .answer {
        height: auto; } }

.product-features .navbar-default.navbar-internal, .product-blog .navbar-default.navbar-internal {
  background-color: #f0f0f0;
  border-top: none;
  box-shadow: none;
  min-height: 0; }
  .product-features .navbar-default.navbar-internal a, .product-blog .navbar-default.navbar-internal a {
    color: #626262;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14.4px;
    line-height: 50px; }
    .product-features .navbar-default.navbar-internal a:hover, .product-features .navbar-default.navbar-internal a.active, .product-blog .navbar-default.navbar-internal a:hover, .product-blog .navbar-default.navbar-internal a.active {
      color: #f9b625; }
  .product-features .navbar-default.navbar-internal .navbar-nav, .product-blog .navbar-default.navbar-internal .navbar-nav {
    text-align: center; }

@media (min-width: 550px) {
  .product-features .navbar-nav, .product-blog .navbar-nav {
    float: none; }
    .product-features .navbar-nav > li, .product-blog .navbar-nav > li {
      float: none; } }

.product-features .sec2 h2 {
  letter-spacing: .9px; }

.product-features .sec2 h3 {
  margin-top: 0;
  font-size: 20px; }

.product-features .sec2 img {
  display: inline-block;
  margin-bottom: 7px;
  height: 60px; }

.product-features .sec2 p {
  color: #626262; }

.product-features .sec2 > .container > .row {
  border-top: #f9b625 1px solid;
  padding-top: 80px; }
  .product-features .sec2 > .container > .row:first-child {
    border-top: none; }

.product-features .try-free {
  background-color: #f0f0f0; }

@media screen and (min-width: 56em) {
  .product-features .navbar {
    margin-bottom: 0; } }

.product-blog {
  text-align: center; }
  .product-blog .btn {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px; }
  .product-blog .posts > div {
    margin-bottom: 70px; }
    @media screen and (max-width: 991px) {
      .product-blog .posts > div {
        margin-bottom: 46px; } }
  .product-blog .post-thumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block; }
    .product-blog .post-thumb span {
      display: block;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px; }
    .product-blog .post-thumb img {
      display: inline-block;
      height: 60px; }
  .product-blog .post-content {
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 30px 15px;
    text-align: center;
    color: #626262;
    height: 230px; }
    @media screen and (max-width: 1199px) {
      .product-blog .post-content {
        height: 271px; } }
    @media screen and (max-width: 991px) {
      .product-blog .post-content {
        height: auto; } }
    .product-blog .post-content p {
      line-height: 1.25em;
      margin-bottom: 18px;
      letter-spacing: .57px; }
      .product-blog .post-content p:last-child {
        margin-bottom: 0; }
    .product-blog .post-content h2 {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: .64px;
      margin-bottom: 29px;
      font-weight: 500; }
      .product-blog .post-content h2 a {
        color: #626262; }

.section-body h5 {
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: .75em;
  margin-top: 1em; }

.section-padded {
  padding: 60px 0; }

.section-reverse {
  background: #333333;
  color: #ffffff; }

.round-edges {
  border-radius: 4px; }
