.bx-wrapper {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-bottom: 40px; }

.quote-wrapper {
  border: none;
  box-shadow: none;
  padding: 60px; }
  .quote-wrapper:before {
    border: 1px solid #fff;
    border-width: 2px 0 0 2px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 150px;
    height: 50px; }
  .quote-wrapper:after {
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: "";
    width: 150px;
    height: 50px; }

/* TESTING */
.testing-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 5px 10px;
  z-index: 1000;
  box-shadow: #808080 1px 1px 1px; }

/* WRAPPER CLASSES */
[class$="--silver-bg"],
[class*="--silver-bg "] {
  background-color: #f0f0f0; }

[class$="--text-center"],
[class*="--text-center "] {
  text-align: center; }
  [class$="--text-center"] img,
  [class*="--text-center "] img {
    margin-left: auto;
    margin-right: auto; }

[class$="--padded-tb-2g"],
[class*="--padded-tb-2g "] {
  padding-top: 60px;
  padding-bottom: 60px; }

html {
  background-color: #ffffff; }

.product-pages h2 {
  font-size: 28px;
  line-height: 1.35em; }

.product-pages p {
  line-height: 1.5em; }

.product-pages .btn {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 13px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 13px;
  letter-spacing: .64px;
  line-height: 32px; }
  .product-pages .btn.btn-link.btn-alt {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    color: #f9b625; }
    .product-pages .btn.btn-link.btn-alt .fa {
      font-weight: 700; }

.product-pages .navbar-default.navbar-internal.fixed {
  position: fixed;
  width: 100%;
  top: 0; }

.spotlight {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff; }
  .spotlight a {
    color: #ffffff; }
  .spotlight img, .spotlight h1, .spotlight h2, .spotlight p, .spotlight .btn {
    margin-bottom: 30px; }
  .spotlight .row > * > :first-child {
    margin-top: 0; }
  .spotlight .row > * > :last-child {
    margin-bottom: 0; }
  .spotlight h2 {
    font-size: 36px;
    font-weight: bold; }
  .spotlight h3 {
    font-size: 28px;
    line-height: 1.2; }
  .spotlight.hero h1 {
    font-size: 36px;
    font-weight: bold; }
  .spotlight.hero h2 {
    line-height: 1.2; }
  .spotlight--no-photo {
    background-color: #e7e7e7;
    padding-top: 75px;
    padding-bottom: 75px; }
    .spotlight--no-photo h1 {
      font-weight: 900; }
    .spotlight--no-photo h1, .spotlight--no-photo h2 {
      color: #626262; }
  .spotlight--overlay {
    padding-top: 0;
    padding-bottom: 0; }
    .spotlight--overlay > div {
      padding-top: 60px;
      padding-bottom: 60px; }
    .spotlight--overlay img {
      height: 60px; }
    .spotlight--overlay h2 {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 1.29px;
      line-height: 1; }
    .spotlight--overlay .date {
      letter-spacing: .57px; }
  .spotlight--title {
    background: #626262;
    text-align: center; }

.text-img {
  padding-top: 60px; }
  .text-img p {
    color: #626262; }
  .text-img h2 + p {
    margin-top: 28px; }
  .text-img p + .btn-primary {
    margin-top: 26px; }

.section-icons img {
  height: 60px;
  display: block;
  margin-bottom: 23px; }

.section-icons h2 {
  min-height: 60px;
  line-height: 30px;
  color: #626262; }

.section-testimonials {
  background-color: #f9b625;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff; }
  .section-testimonials p {
    line-height: 1.75em;
    font-size: 18.4px; }
    .section-testimonials p:last-of-type {
      margin-bottom: 0; }

.section-boxed-content {
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-boxed-content .section-boxed-content__top, .section-boxed-content .section-boxed-content__bottom {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px; }
  .section-boxed-content .section-boxed-content__top {
    background-color: #f0f0f0;
    height: 140px;
    position: relative; }
    @media screen and (max-width: 991px) {
      .section-boxed-content .section-boxed-content__top {
        height: auto; }
        .section-boxed-content .section-boxed-content__top h3 {
          position: relative;
          top: auto;
          left: auto;
          transform: none; } }
  .section-boxed-content h3 {
    font-size: 20px;
    letter-spacing: .71px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0; }
  .section-boxed-content .section-boxed-content__bottom {
    border: #f0f0f0 1px solid; }
    .section-boxed-content .section-boxed-content__bottom *:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 1200px) {
      .section-boxed-content .section-boxed-content__bottom {
        height: 206px; } }
    @media screen and (max-width: 991px) {
      .section-boxed-content .section-boxed-content__bottom {
        height: auto; } }

.section-breakdown h2 {
  letter-spacing: .9px; }

.section-breakdown h3 {
  margin-top: 0;
  font-size: 20px; }

.section-breakdown img {
  display: inline-block;
  margin-bottom: 7px;
  height: 60px; }

.section-breakdown p {
  color: #626262; }

.section-breakdown > .container > .row {
  border-top: #f9b625 1px solid;
  padding-top: 80px; }
  .section-breakdown > .container > .row:first-child {
    border-top: none; }

.product-features .navbar-default.navbar-internal, .product-blog .navbar-default.navbar-internal {
  background-color: #f0f0f0;
  border-top: none;
  box-shadow: none;
  min-height: 0; }
  .product-features .navbar-default.navbar-internal a, .product-blog .navbar-default.navbar-internal a {
    color: #626262;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14.4px;
    line-height: 50px; }
    .product-features .navbar-default.navbar-internal a:hover, .product-features .navbar-default.navbar-internal a.active, .product-blog .navbar-default.navbar-internal a:hover, .product-blog .navbar-default.navbar-internal a.active {
      color: #f9b625; }
  .product-features .navbar-default.navbar-internal .navbar-nav, .product-blog .navbar-default.navbar-internal .navbar-nav {
    text-align: center; }

@media (min-width: 550px) {
  .product-features .navbar-nav, .product-blog .navbar-nav {
    float: none; }
    .product-features .navbar-nav > li, .product-blog .navbar-nav > li {
      float: none; } }

@media screen and (min-width: 56em) {
  .product-features .navbar {
    margin-bottom: 0; } }

.product-blog {
  text-align: center; }
  .product-blog .btn {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px; }
  .product-blog .posts > div {
    margin-bottom: 70px; }
    @media screen and (max-width: 991px) {
      .product-blog .posts > div {
        margin-bottom: 46px; } }
  .product-blog .post-thumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block; }
    .product-blog .post-thumb span {
      display: block;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px; }
    .product-blog .post-thumb img {
      display: inline-block;
      height: 60px; }
  .product-blog .post-content {
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 30px 15px;
    text-align: center;
    color: #626262;
    height: 230px; }
    @media screen and (max-width: 1199px) {
      .product-blog .post-content {
        height: 271px; } }
    @media screen and (max-width: 991px) {
      .product-blog .post-content {
        height: auto; } }
    .product-blog .post-content p {
      line-height: 1.25em;
      margin-bottom: 18px;
      letter-spacing: .57px; }
      .product-blog .post-content p:last-child {
        margin-bottom: 0; }
    .product-blog .post-content h2 {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: .64px;
      margin-bottom: 29px;
      font-weight: 500; }
      .product-blog .post-content h2 a {
        color: #626262; }

.section-body h5 {
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: .75em;
  margin-top: 1em; }

.section-reverse {
  background: #333333;
  color: #ffffff; }

.round-edges {
  border-radius: 4px; }
